# This file specifies intentionally untracked files to ignore - https://git-scm.com/docs/gitignore
# GitHub's collection of .gitignore file templates - https://github.com/github/gitignore

# Update this file as needed based on the technology stack and project needs.